@CHARSET "ISO-8859-1";
/* Author: 	Jasper van Rosmalen
			Avans University of Applied Technology
*/
#calendar_month {
	font-family: "Verdana", Geneva, sans-serif;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	width: 700px;
}

.calendar {
	border: 1px solid;
	border-collapse: collapse;
}

.calendar_entry {
	width: 100px;
	height: 100px;
	border: 1px solid;
}

.saturday_entry {
	background: #e5e5e5;	
}

.sunday_entry {
	background: #d3d3d3;
}

.entry_line {
	height: 25px;
	text-align: center;
	border-bottom: 1px dashed #a3a3a3;
	margin-left: 5px;
	margin-right: 5px;
}

.entry_date {
	height: 15px;
	text-align: right;
	margin-right: 10px;
}

th {
	font-family: "Verdana", Geneva, sans-serif;
	width: 100px;
	background: GRAY;
	font-weight: bold;
	text-align: center;
	border: 1px solid;
}