<!DOCTYPE html>
<html lang="en">
<!-- Author: Jasper van Rosmalen, Rik Meijer -->
<!-- Avans University of Applied Technology -->

<head>
    <title>Kalender Opdracht</title>
    <link rel="stylesheet" type="text/css" href="calendar_style.css">
</head>

{% for month in 0..11 %}
{% include('month.twig') %}
{% endfor %}
</html>
