<table class="calendar">
    <tr><td colspan="{{ days|length }}" id="calendar_month">{{ calendar.renderMonthName }}</td></tr>
    <tr>
        {%  for day in days %}
            <th>{{ day }}</th>
        {%  endfor %}
        {{ calendar.renderWeekDays }}
    </tr>
    <tr>
        {% set dates = calendar.dates %}
        {% for curdate in dates%}
            {% if curdate == 'empty' %}
                {% include('emptyday.twig') %}
            {% else %}
                {% if curdate.weekday == 0 %}
    </tr><tr>
                {% endif  %}
                {% include 'date.twig' with curdate only %}
            {% endif %}
        {% endfor %}
    </tr>
</table>